@media screen and (max-width: 1440px){
    .scrollmenu a.company-score {
        display: none;
    }
}

@media screen and (max-width: 990px){
    #searchbar p.company {
        display: none;
    }
    #searchbar p.subsidiary {
        display: none;
    }
    #searchbar p.financials {
        display: none;
    }
}



body{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    background-color: white;
    
    }

.navbar{
        padding-top: 0 !important;
        padding-bottom: 0 !important;
        min-height: 30px !important;
        padding-right: 50px;
     }


.navbar-brand{
    padding-left: 87px;
    padding-top: 21px;
    padding-bottom: 21px;
    
}

.refine-logo{
    max-width: 65%;
}


.nav-link{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    /* identical to box height, or 171% */
    letter-spacing: 0.38px;
    color: #2E3035;
    margin-left: 11px;
    margin-right: 11px;
    padding-right: 10px;
    
}

.company{
    position: absolute;
    width: 64px;
    height: 18px;
    left: 320px;
    top: 66px;
    z-index: 1;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    /* identical to box height */

    display: flex;
    align-items: center;
    letter-spacing: 0.5px;

    color: #7F8493;
}

.subsidiary{
    position: absolute;
    width: 69px;
    height: 18px;
    left: 720px;
    top: 66px;
    z-index: 1;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    /* identical to box height */

    display: flex;
    align-items: center;
    letter-spacing: 0.5px;

    color: #D0DBE9;
}

.financials{
    position: absolute;
    width: 66px;
    height: 18px;
    left: 920px;
    top: 66px;
    z-index: 1;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    /* identical to box height */

    display: flex;
    align-items: center;
    letter-spacing: 0.5px;

    color: #7F8493;
}

.profile-img{
    margin-left: 8px;
    margin-right: 10px;
    align-items: center;
}

#searchbar{
    /* position: absolute;
    width: 100%;
    height: 284px; */
    max-width: 1920px;
    position: absolute;
    width: 100%;
    height: 284px;
    left: 0px;
    top: 70px;

    top: 70px;
    background: linear-gradient(217.75deg, rgba(0, 226, 110, 0.6) -26.58%, rgba(0, 147, 251, 0.6) 124.86%);
}

.searchbar{
    max-width: 60%;
    margin-left: 300px;
    margin-right: 80px;
    margin-top: 56px;
    margin-bottom: 161px;
    background: linear-gradient(217.75deg, rgba(0, 226, 110, 0.6) -26.58%, rgba(0, 147, 251, 0.6) 124.86%);
}
.apple{
    position: absolute;
    width: 80px;
    height: 80px;
    left: 100px;
    top: 50px;

    background: #FFFFFF;
    border-radius: 10px;

}

.go-btn{
    background-color:#0093FB;
    color: white;
    width: 180px;
    height: 67px;
    border-radius: 0px 5px 5px 0px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
/* or 150% */

    align-items: center;
    text-align: center;
    letter-spacing: 2px;
}

.btn-text{
    position: absolute;
    width: 49px;
    height: 24px;
    top: 28px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    align-items: center;
    letter-spacing: 0.5px;
}

.dropdown-toggle{
    max-width: 200%;
    text-align: left;
}
.drop-btn-1{
    background-color: white;
    width: 400px;
    height: 67px;
    border-radius: 5px 0px 0px 5px;
    
}
.drop-btn-2{
    background-color: white;
    width: 200px;
    height: 67px;
}
.drop-btn-3{
    background-color: white;
    width: 400px !important;
    height: 67px;
}

.menu-1{
    width: 400px;
}

.menu-3{
    width: 400px;
}

.company-text{
    position: absolute;
    width: 135px;
    height: 30px;
    left: 100px;
    top: 150px;
    bottom: 104px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    /* identical to box height */

    display: flex;
    align-items: center;
    text-align: right;

    color: #FFFFFF;
}

.tb-company{
    margin-top: -94px;
    margin-left: 100px;

}

.details{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 550;
    font-size: 12px;
    line-height: 18px;
    padding-right: 50px;
    /* identical to box height */
    text-align: left;
    /* display: flex;
    align-items: center; */

    color: rgba(255, 255, 255, 0.6);
}

.values-details{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height */
    text-align: left;

    color: #FFFFFF;
}

table{
    padding: 50px;
}

td{
    padding-right: 50px;
}

/* div.scrollmenu {
    background-color: #333;
    overflow: auto;
    white-space: nowrap;
} */
  
div.scrollmenu a {
    display: inline-block;
    font-family: 'Poppins';
    font-style: normal;                                 
    font-weight: 500;
    font-size: 14px;
    line-height: 30px;

    align-items: center;
    letter-spacing: 0.5px;

    color: #7F8493;
    text-align: center;
    padding: 14px;
    padding-right: 30px;
    text-decoration: none;
}
  
div.scrollmenu a:hover {
    background-color: #FFFFFF;
    border-bottom: 2px solid #0093FB;
}

.scrollmenu{
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    height: 70px;
    left: 87px;
    top: 354px;


    background: #FFFFFF;
    }

.arrow-left{
    position: absolute;
    left: 54px;
    top: 375px;

}

.arrow-right{
    position: absolute;
    top: 375px;
    right: 54px;
    z-index: 1;
}

.arrow image :hover{
    background-color:#0093FB;
}

/* Accordians */

.accordion-item-one{
    box-sizing: border-box;

    position: absolute;
    width: 800px;
    height: 70px;
    left: 100px;
    top: 454px;

    background: #FFFFFF;
    border: 2px solid #D0DBE9;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;

    
}

.accordion-item-two{
    box-sizing: border-box;

    position: absolute;
    width: 400px;
    height: 70px;
    left: 940px;
    top: 454px;

    background: #FFFFFF;
    border: 2px solid #D0DBE9;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.accordion-item-three{
    box-sizing: border-box;

    position: absolute;
    width: 800px;
    height: 70px;
    left: 100px;
    top: 554px;

    background: #FFFFFF;
    border: 2px solid #D0DBE9;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.accordion-item-four{
    box-sizing: border-box;

    position: absolute;
    width: 400px;
    height: 70px;
    left: 940px;
    top: 554px;

    background: #FFFFFF;
    border: 2px solid #D0DBE9;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.accordion-item-five{
    box-sizing: border-box;

    position: absolute;
    width: 800px;
    height: 70px;
    left: 100px;
    top: 654px;

    background: #FFFFFF;
    border: 2px solid #D0DBE9;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}
.accordion-button{
    /* position: absolute; */
    /* width: 218px;
    height: 30px; */
    /* left: 130px;
    top: 474px; */

    font-family: 'Poppins'; 
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    /* identical to box height, or 150% */
    letter-spacing: 0.5px;

    color: #7F8493;
    

}

.accordion-button:focus {
    z-index: 3;
    /* border-color: var(--bs-accordion-btn-focus-border-color); */
    outline: 0;
    box-shadow: none;
    
}

.accordion-button:not(.collapsed) {
    color: transparent;
    /* color: var(--bs-accordion-active-color); */
    /* background-color: var(--bs-accordion-active-bg); */
    background-color: white;
    box-shadow: inset 0 calc(var(--bs-accordion-border-width) * -1) 0 var(--bs-accordion-border-color);
    font-family: 'Poppins'; 
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    /* identical to box height, or 150% */
    letter-spacing: 0.5px;

    color: #7F8493;
    border-bottom: 0 !important;

}

.accordion-body{
    box-sizing: border-box;
    border-top: 0 !important;
    border-bottom: 2px solid #D0DBE9;
    border-left: 2px solid #D0DBE9;
    border-right: 2px solid #D0DBE9;
    border-width: 0px 2px 2px 2px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    align-items: center;

}

.table-img{
    max-width: 97%;
    padding-top: 20px;
    padding-left: 28px;
}

/* .accordion-button:not(.collapsed)::after {
    border: 2px solid #D0DBE9;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.accordion-collapse{
    background: #FFFFFF;
    border: 2px solid #D0DBE9;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    } */


/* TABLE STYLING */

table { 
    /* border-collapse: collapse; border-spacing: 0;  */
    top: 526px;
    left: 28px;
    
}

    #keywords {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 18px;
        position: absolute;
        text-align: center;
        align-items: center;
        color: #FFFFFF;
    }
    
    
    #keywords thead {
        cursor: pointer;
        background:#0093FB;
        border: 2px solid #D0DBE9;
        box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
    }
    #keywords thead tr th { 
        font-weight: bold;
        width: 124px;
        height: 78px;   
        padding-left: 6px;
        border: 1px solid #E6E6E6;
        /* padding: 12px 30px;
        padding-left: 42px; */
    }
    /* #keywords thead tr th span { 
        padding-right: 20px;
        background-repeat: no-repeat;
        background-position: 100% 100%;
    }
     */
    /* #keywords thead tr th.headerSortUp, #keywords thead tr th.headerSortDown {
        background: #acc8dd;
    } */
    
    
    #keywords tbody tr { 
        color: #2E3035;
    }
    #keywords tbody tr td {
        text-align: center;
        padding: 28px 10px;
    }
    #keywords tbody tr td.lalign {
        text-align: center;
    }

    #lineChart{
        margin-top: 20px;
    }
